@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-bg-color: #fff;
	--color-text-color: #1e1e1e;
	--color-bg-fade-color: #f5f5f5;
}

.dark {
	--color-bg-color: #1e1e1e;
	--color-text-color: #fff;
	--color-bg-fade-color: #252525;
}

@layer base {
	body {
		@apply overflow-hidden;
	}
}

@layer components {
	.card {
		@apply bg-bg-color text-text-color rounded-2xl p-6 h-full min-w-70 w-1/2 max-w-90 shadow-md;
	}
	
	.card-container {
	  @apply h-1/2 md:h-full w-full **:pointer-events-auto;
	}
}

@layer utilities {
	.button-opt {
		@apply hover:scale-105 active:scale-75 transition-all ease-in duration-300 cursor-pointer hover:brightness-95 dark:hover:brightness-125;
	}
}
