@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-bg-color: #fff;
	--color-text-color: #1e1e1e;
}

.dark {
	--color-bg-color: #1e1e1e;
	--color-text-color: #fff;
}

@layer base {
	body {
		@apply overflow-hidden;
	}
}

@layer components {
	.card {
		@apply bg-bg-color text-text-color rounded-2xl p-8 h-full w-full md:w-1/2 max-w-120;
	}
	
	.card-container {
	  @apply h-1/2 md:h-full w-full **:pointer-events-auto;
	}
}
