@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-bg-color: #fff;
	--color-text-color: #1f2937;
}

.dark {
	--color-bg-color: #1f2937;
	--color-text-color: #fff;
}

@layer components {
	.card {
		@apply bg-bg-color text-text-color rounded-2xl p-4
	}
}

@layer utilities {
  .main {
    @apply w-full **:pointer-events-auto;
  }
}
