@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-color: #fff;
  --color-text-color: #1e1e1e;
  --color-bg-fade-color: #f5f5f5;
  --color-bg-classificacao: #6a737b;
  --font-size-xs: 0.75rem;
}

.dark {
  --color-bg-color: #1e1e1e;
  --color-text-color: #fff;
  --color-bg-fade-color: #252525;
}

.excelente {
  --color-bg-classificacao: #2c62e0;
}

.boa {
  --color-bg-classificacao: #3abc1a;
}

.moderada {
  --color-bg-classificacao: #dfd61b;
}

.baixa {
  --color-bg-classificacao: #ea690d;
}

.critica {
  --color-bg-classificacao: #d91616;
}

@layer base {
  html {
    @apply text-[75%] sm:text-[100%];
  }
}

@layer components {
  .card {
    @apply flex flex-col bg-bg-color text-text-color rounded-2xl p-6 w-full max-w-90 flex-1 overflow-visible lg:overflow-y-auto min-h-0 shadow-md;
  }

  .card-container {
    @apply flex flex-col lg:flex-row h-1/2 md:h-full overflow-y-auto lg:overflow-visible min-h-0 gap-6 **:pointer-events-auto w-full;
  }

  .card-flag {
    @apply px-1 py-0.5 rounded text-xs w-fit;
  }

  .marker-classificacao {
    @apply w-4 h-4;
  }

  .marker-dot {
    @apply block w-full h-full rounded-full bg-bg-classificacao border-2 border-white shadow-[0_0_0_1px_rgba(0,0,0,0.25)];
  }

  .side-button {
    @apply shadow rounded-full size-10 flex justify-center items-center;
  }

  .message-screen {
    @apply flex flex-col items-center justify-center gap-4 z-20 fixed size-full bg-bg-color transition-all duration-300 ease-in;
  }
}

@layer utilities {
  .button-opt {
    @apply hover:scale-105 active:scale-75 transition-all ease-in duration-300 cursor-pointer hover:brightness-95 dark:hover:brightness-125 text-text-color;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
